body{
  background: gray;
  margin: 0px;
}
audio{
  display:none;
}
.backdiv{
  height:300px;
  width: 300px;
  background: #b9b592;
  border: outset #cfcccc 10px;
  border-radius: 2px;
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-50%);
}
form {
  text-align: center;
  font-family: "Copperplate", Times, serif;
}
form label,h1{
  color: white;
  text-align: center;
}
form button{
  height: 40px;
  width: 200px;
  color: black;
  background: white;
  border-radius: 2px;
  border: none;
  padding: 0px 10px 0px 10px;
}
form button:hover{
  color: white;
  background: grey;
}
form img{
  height: 50px;
  width: 50px;
}
#uname{
  background-image: url("/Leform/imgFolder/acclogo.png");
  background-position: left;
  height: 40px;
  background-size: 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-radius: 2px;
}
#upass{
  background-image: url("/Leform/imgFolder/locklogo.png");
  background-position: left;
  height: 40px;
  background-size: 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
  border-radius: 2px;
}
form input{
  margin-bottom: 10px;
  border-radius: 0%;
  width: 100px;
  border: none;
  
}
form input:hover{
  outline: solid grey 2px;
}
form input:focus{
  width: 60%;
  transition: width 1s;
  transition-timing-function: ease-in;
}
form input:clicked{
  outline: navy 5px;
  background: darkgrey;
}
