body{
  background: darkblue;
}
audio{
  display:none;
}
.backdiv{
  height:500px;
  width: 300px;
  background:rgba(0,0,0,0.6);
  position: absolute;
  top:35%;
  left:50%;
  transform: translate(-50%,-50%);
}
form {
  text-align: center;
  font-family: "Copperplate", Times, serif;
}
form label,h1{
  color: white;
  text-align: center;
}
form input[type = text]{
  margin-bottom: 10px;
  border-radius: 0%;
  border: none;
}
form button{
  color: black;
  background: white;
  border-radius: 0%;
  border: none;
  padding: 0px 10px 0px 10px;
}
form button:hover{
  color: white;
  background: darkblue;
}
form img{
  height: 50px;
  width: 50px;
}
