        fieldset{
            width: 150px;
        }
        body{
            margin: 0px;
        }
        .but:hover{
            background: black;
            color: white;
        }
        .but{
            margin-top: 10;
        }
        p{
            display: none;
        }
