audio{
  display:none;
}
.contain {
    padding: 10px;
    height: 200px;
    width: 300px;
    background: #b9b592;
    position: absolute;
    border: outset #cfcccc 10px;
    border-radius: 2px;
    top:35%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
.buttonCon{
    margin-top: 40px;
    text-align: center;
}
button{
    margin-right:10px;
}
body {
    margin: 0px;
    background: gray;
}

.but:hover {
    background: white;
    color: grey;
}
.but{
    background: grey;
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
}
p{
   display: none;
}
.q1, .q2,.q3,.q4,.q5{
    border: none;
}
#result{
    display: none;
}
#master{
    display: none;
}
#reCon{
    display: none;
    text-align: center;
}
#sub{
    display: none;
}
span{
    display: inline;
}
